body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}

nav a:hover {
    color: #2196F3;
}

.contacts {
    display: flex;
    gap: 30px;
}

.contacts a {
    text-decoration: none;
    font-size: 14px;
    color: #757575;
}

.contacts a:hover {
    color: #2196F3;
}

.hero {
    background-color: #2F303A;
    text-align: center;
    padding: 200px 0;
}

.hero h1 {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 900px;          
    margin: 0 auto 30px;   
}


.hero button {
    background-color: #2196F3;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #188CE8;
}


.logo a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em; 
    text-decoration: none;
    color: #000;
}

.logo-blue {
    color: #2196F3; 
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.works {
    padding: 60px 0;
}

.works h2 {
    text-align: center;
    margin-bottom: 50px;
}

.works-list {
    display: flex;
    justify-content: space-between;
}

.work-item {
    width: 370px;
}

.work-item img {
    width: 100%;
    height: 294px;
    object-fit: cover;
    display: block;
    border-radius: 4px; 
}

.team { 
    background-color: #f5f4fa; 
    padding: 60px 0; 
} 
.team h2 { 
    text-align: center; 
    margin-bottom: 50px; 
} 
.team-list { 
    display: flex; 
    justify-content: space-between; 
} 
.team-member { 
    background-color: #ffffff; 
    width: 270px; 
    text-align: center; 
    padding-bottom: 20px; 
} 
.team-member img { 
    width: 100%; display: block; 
} 
.team-member h3 { 
    margin-top: 20px; 
    margin-bottom: 5px; 
} 
.team-member p { 
    color: #757575; 
}